<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjEO_3mFN2lpDQxMJS4VEIQu5SeQq_hq0</string>
	<key>GCM_SENDER_ID</key>
	<string>62320554786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AA.Skyfitness</string>
	<key>PROJECT_ID</key>
	<string>sky-fittness</string>
	<key>STORAGE_BUCKET</key>
	<string>sky-fittness.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62320554786:ios:7e41d70b843ef292c3eb7b</string>
</dict>
</plist>